In [1]:
import pandas as pd
import numpy as np

In [41]:
data1 = pd.read_csv('/content/Records Matching Task.xlsx - data1.csv')
data1.head(2)

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075    3
1  CA-2014-100090  FUR-TA-10003715    3

In [47]:
data2= pd.read_csv('/content/Records Matching Task.xlsx - data2.csv')
data2.head(2)

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6

In [45]:
data1['Data1_Unique_ID'] = data1['Order ID']+data1['Product ID']
data1.head(2)

         Order ID       Product ID  Qty                Data1_Unique_ID
0  CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006TEC-PH-10002075
1  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715

In [48]:
data2['Data2_Unique_ID'] = data2['Order ID']+data2['Product ID']
data2.head(2)

         Order ID       Product ID  Qty                Data2_Unique_ID
0  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
1  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597

In [50]:
data = data1.merge(data2, how='outer', left_on=['Data1_Unique_ID'], right_on=['Data2_Unique_ID'])
data.head(2)

,Order ID_x,Product ID_x,Qty_x,Data1_Unique_ID,Order ID_y,Product ID_y,Qty_y,Data2_Unique_ID
0,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075,NaN,NaN,NaN,NaN
1,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715

In [53]:
data1.shape

(9478, 4)

In [52]:
data2.shape

(9479, 4)

1. How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)
one (1) record is missing

In [68]:
df1 = data[data['Data2_Unique_ID'].isna()]
df1.head(2)

,Order ID_x,Product ID_x,Qty_x,Data1_Unique_ID,Order ID_y,Product ID_y,Qty_y,Data2_Unique_ID
0,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075,NaN,NaN,NaN,NaN
10,CA-2014-100678,OFF-EN-10000056,3.0,CA-2014-100678OFF-EN-10000056,NaN,NaN,NaN,NaN

In [64]:
df1.shape[0]

507

How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)

In [69]:
df2 = data[data['Data1_Unique_ID'].isna()]
df2.head(2)

,Order ID_x,Product ID_x,Qty_x,Data1_Unique_ID,Order ID_y,Product ID_y,Qty_y,Data2_Unique_ID
9478,NaN,NaN,NaN,NaN,CA-2014-100706,TEC-AC-10001314,2.0,CA-2014-100706TEC-AC-10001314
9479,NaN,NaN,NaN,NaN,CA-2014-100762,OFF-PA-10001815,3.0,CA-2014-100762OFF-PA-10001815

In [66]:
df2.shape[0]

508

Find the Sum of the total Qty of Records missing in data1 but present in data2?

In [67]:
df2['Qty_y'].sum()

1956.0

Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [62]:
data.shape[0]

9986